table {
    width: 60%;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;    
}

tr, td, th {
    border: 1px solid black;
}

.main-content {
    padding: 30px;
}

.items-textbox {
    width: 70%;
    margin-left: auto;
    margin-right: auto;    
}